.App {
  text-align: center;
  font-style: Arial;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  height: 286px;
  width: 100px;
  background-color: darkgray;

}

.App-header {
  /* background-color: #878787; */
  min-height: 50vh;
  display: inline-block;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  /* color: white; */
}