:root {
  --dark-color: #171717;
  --gray-color: #979797;
  --ligthergray-color: #EBEBEB;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.item {
  width: 210px;
  background: var(--gray-color);
  box-shadow: 0 0 1px 1px;
  display: flex;
}

.item_container {
  width: 210px;
  height: 295px;
  display: inline-block;
  background: var(--ligthergray-color);
  padding-right: 15px;
  padding-left: 15px;
}

img {
  width: 210px;
  height: 295px;
  object-fit: cover;
}

.main {
  display: inline-flexbox;
  grid-template-columns: repeat(4, 1fr);
  width: 1170px;
  align-items: center;
  margin: 1rem auto;
}

.tv_blend_bg {
  margin: auto;
  padding: 15px;
  background: var(--ligthergray-color);
}

table {
  border-collapse: collapse;
  display: inline-block;
  align-items: center;
}

td, th {
  width: 400px;
  height: 170px;
  border-bottom: 1px solid #999;
  padding: 0 0;
  margin: 0;
  text-align: left;
}

.homepage {
  display: inline-block;
  align-items: center;
}

.info_table {
  display: inline-block;
}

.tables {
  align-items: center;
}